node_modules/
.next/
dist/
out/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
/.vscode/
/.idea/
*.local
DS_Store
Thumbs.db
/.pnp
/.pnp.js
/.turbo
pnpm-lock.yaml
package-lock.json
/.cache/